$light-grey: #E6E6E6;
$grey: #CCC;

body {
  margin: 0;
}

#main {

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 10% 90%;

  overflow-y: scroll;

  #results {

    position: relative;
    overflow-y: scroll;

    #deck {
      
      position: absolute;
      top: 0;
      height: 90%;
      width: 100%;
      padding: 0 32px;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        width: 332px;
        height: 432px;
        padding: 16px;
        margin: 16px;

        box-sizing: border-box;

        border: 2px solid $light-grey;

        display: grid;
        grid-template-rows: 300px 100px;
      
        img {
          object-fit: cover;
          width: 300px;
          height: 300px;
        }

        .info {

          padding: 6px 0;
          overflow: hidden;

          .artist, .title {
            font-weight: bold;
          }
          .title {
            font-style: italic;
          }

          * {
            padding: 4px 0;
            max-width: 40ch;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    #page-selector{
      position: absolute;
      bottom: 0;
    }
  }
}

#primary-image {
  width: 600px;
  height: 400px;
  object-fit: contain;
}

.hidden {
  display: none;
}

#popout {
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  position: absolute;
  left: 0;
  top: 0;

  img.contained {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    cursor: zoom-in;
  }
  img {
    cursor: zoom-out;
  }
}